body{
    margin: 0;
}
.menu{
    float: right;
    margin: 10px 0px;
}
.logo{
    float: left;
    margin: 0;
}
.clear{
    clear: both;
}
/* .navbar::after{
    content: " ";
    clear: both;
    display: block;
} */
.navbar{
    background-color: lightblue;
    padding: 10px 40px;
}